.section-shaped {
  /* background-image: url(../img/backgrounds/background.gif) !important; */
  /* background-image: url(../img/brains-picks/11.png) !important; */
/* background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgb(2, 6, 18) ), url(file:///Users/rajugundu/Documents/Documents/Agora%20Science/Remote%20Repo/agora%20website/assets/img/brains-picks/14.gif) !important; */
background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgb(2, 6, 18) ), url(/assets/img/brains-picks/14.gif) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* background-position: center; */
}
.video {
    margin-top: 20px;
}
video {
    width: 100%;
    border: 4px solid white;
    border-radius: 2px;
}
a.globalFooterCard, div.globalFooterCard {
    padding-left: 120px;
}
.text-muted-2 {
    color: #798898;
}
.section_content_block_one {
  padding: 70px 70px 70px 0 !important;
  border-width: 0 1px 0 0;
  border-right: 1px solid #f6f9fc;
}
.section_content_block_two {
  padding: 70px 0 70px 70px !important;
  border-width: 0 0 0 1px;
  border-left: 1px solid #f6f9fc;
}

.container-lg {
  max-width: 1040px !important;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.nav-sidebar-links {
  color: #413f5a;
  margin-right: 10px;
  cursor: auto;
}
.nav-link {
  /* color: white !important; */
  text-transform: capitalize;
}
.works-how {
  padding-top: 0 !important;
}
.works-how .nav-link {
  /* color: #34495e !important; */
  margin: 10px 0;
}
.navbar-nav a:hover {
  cursor: pointer;
}
.display-3 {
  font-size: 36px !important;
}
.lead {
  font-size: 18px !important;
}
.btn-info {
  background-color: #027bce !important;
  border-color: #027bce !important;
}

h3 {
  color: #34495e !important;
}
#center-padding {
  padding: 0 80px;
}
.bg-secondary {
  padding: 0 !important;
}
.items-colors {
  font-weight: 700;
  color: #172b4d !important;
}
.main-color {
  color: #172b4d !important;
}
/* .main-container {
  max-width: 880px !important;
} */
.link-colors {
  color: #027bce !important;
}
.container-text-color {
  color: #0009 !important;
}
.col-no-padding {
  padding: 0 !important;
}
.br-bottom {
  border-bottom: 2px solid #f4f5f7 !important;
  margin-bottom: 40px !important;
}
.br-bottom-nomargin {
  border-bottom: 2px solid #f4f5f7 !important;
}
.br-bottom-noborder {
  margin-bottom: 40px !important;
}
.br-right {
    padding: 60px 60px 60px 0;
    border-right: 1px solid #f4f5f7;
}
.br-right-padding {
  padding: 40px 40px 40px 0;
  border-right: 1px solid #f4f5f7;
}
.br-left {
    padding: 60px 0px 60px 60px;
    border-left: 1px solid #f4f5f7;
}
.br-left-padding {
  padding: 40px 0px 40px 40px;
  border-left: 1px solid #f4f5f7;
}
.section-nucleo-icons .icons-container {
  height: inherit !important;
}
.section-team {
  margin-bottom: 50px;
}
.section-team h6 {
  margin-bottom: 2px;
  font-weight: 600;
}
.section-team span {
  font-size: 14px;
}
.team-title {
  margin-bottom: 20px;
}
.team {
  margin: 80px 0;
}
.team-main-title {
  margin-bottom: 20px;
}
.margin-tb-2 {
  margin: 2rem 0 !important;
}
.mb-5 {
  margin-bottom: 5rem;
}
.team p {
  margin-bottom: 5px;
}
.network-team {
  padding: 70px 70px !important;
}
#heavy-padding {
  padding: 70px 70px;
}
.open-positions {
  margin: 0 0 40px 0;
}
.btn-link {
  text-transform: capitalize !important;
}
.card-button {
    margin-top: 20px;
}
.wid-left {
  width: 100%;
  text-align: left !important;
}
.mt-2 {
  margin-top:2rem;
}
.register-footer {
  padding: 30px 0;
}
.register {
  padding: 60px 0!important;
}
.sign-text {
    padding-top: 20px;
    font-size: 14px;
}
/* Checout styles */
.left-price {
  background: white;
  box-shadow: 0 5px 0px rgba(50,50,93,.1),0 5px 0px rgba(0,0,0,.07);
  border-radius: 4px;
  margin-bottom: 30px;
}
.price-title {
  padding: 30px 10px 10px 10px;
  text-align: center;
  border-bottom: 2px solid #f6f9fc;
}
.price-title h5 {
  color: #24b47e !important;
  font-size: 18px;
}
.price-body {
  padding: 25px 48px;
}
.price-body p, h2, small {
  text-align: center;
  display: block;
  font-weight: 200;
}
.price-button {
  background: #e6ebf1;
  padding: 25px;
  text-align: center;
}
.no-padding {
  padding: 0 !important;
}
.right-price {
  background: #32325d;
  color: #fff !important;
  margin-top: 15px;
  font-weight: 300 !important;
}
.right-price .price-title {
  border-bottom: 1px solid #87bbfd80;
}
.right-price h5 {
  color: #fff !important;
}
.right-price h6 {
  color: #fff !important;
  text-align: center;
}
.right-price .price-button {
  background: rgba(85,90,191,.35);
}
.right-price .price-button {
  color: #87bbfd;
}
.right-price .price-body h2 {
  color: white;
}
.right-price .price-body p {
  color: #aab7c4;
}
.right-price .price-body h2 {
  margin-bottom: 20px;
}
td {
  text-align: center;
  font-size: 14px;'
  font-weight: 100;
}
td a:hover {
  color: #32325d;
}
.table td {
  padding: 1rem 2rem !important;
}
.price-button {
  display: block;
  font-weight: 400;
}
.open-positions .card-header {
  text-align: left !important;
}
.positions td {
  text-align: left !important;
}
.positions i {
  font-size: 12px !important;
}
.positions a {
  display: block;
}
.positions .table th, .table td {
  border: 0 !important;
}
.positions .table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgb(246, 249, 252);
}

.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}


.clr-white {
  color: #FFF;
  font-size: 42px !important;
  font-weight: 400;
}
.main-title {
   position: absolute;
   margin: 0;
   padding: 0;
   color: #FFF;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}

.main-title .thin {
   font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .demo .main-title {
      font-size: 3em;
   }
}

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #0c1127;
  background-image: url('../img/backgrounds/dots-bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js .container {
  position: absolute;
  /* margin: 0;
  padding: 0;
  top: 50%;
  left: 50%; */
  /* transform: translate3d(-50%, -50%, 0);
  text-align: center; */
}

.new-pill {
  font-size: 10px !important;
  padding: 2px 6px;
  background: #24b47e;
  text-transform: uppercase;
  border-radius: 10px;
  margin-right: 5px;
}
.announcement {
  font-size: 12px;
  background: #343435;
  color: white;
  padding: 4px 5px;
  border-radius: 50px;
  letter-spacing: 0.5px;
}
.announcement:hover {
  color: white;
}
.announcement i {
  margin: 0 5px;
}
.ann-row {
  margin-bottom: 50px;
}

.jobs-footer {
  padding: 30px 0;
  background: #f6f9fc;
  border-top: 2px solid #e6ebf1;
}
.careers {
  padding: 2rem 4rem !important;
}
.jobs-location-title {
  margin-top: 20px;
}
.jobs-location-title span {
  font-weight: 300;
}
.open-positions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-color {
  background-color: rgb(246, 249, 252);
}
.list-white {
  background-color: white;
}
.jobs-width-style-one {
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  border: 0px none;
  max-width: 1040px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  -moz-box-pack: start;
  justify-content: flex-start;
  padding: 12px 20px;
}
.open-positions a:hover {
  color: #32325d;
}
.wh-clr {
  color: white !important;
}
.wh-clr-bold {
  color: white !important;
}
.heading-icon {
  display: block;
  width: 66px;
  height: 66px;
  margin-bottom: 20px;
}
.icon-text-green {
  text-transform: uppercase;
  color: #1bb978;
  font-size: 18px;
}
.text-green {
  color: #1bb978 !important;
}
.card:hover p {
  color: #0009;;
}
.card:hover h5 {
  color: #0009;;
}

@media only screen and (max-width: 768px) {
  #center-padding {
    padding: 20px 20px;
  }
  .br-right {
    padding: 60px 20px;
    border-bottom: 1px solid #f4f5f7;
  }
  .br-left {
    padding: 60px 20px;
    border-top: 1px solid #f4f5f7;
  }
  .display-3 {
    font-size: 28px;
  }
  .order-xs-first
  {
      order: -1;
  }
  .order-xs-last
  {
      order: 13;
  }
  .order-xs-0
  {
      order: 0;
  }
  .order-xs-1
  {
      order: 1;
  }
  .order-xs-2
  {
      order: 2;
  }
  .order-xs-3
  {
      order: 3;
  }
  .order-xs-4
  {
      order: 4;
  }
  .order-xs-5
  {
      order: 5;
  }
  .order-xs-6
  {
      order: 6;
  }
  .order-xs-7
  {
      order: 7;
  }
  .order-xs-8
  {
      order: 8;
  }
  .order-xs-9
  {
      order: 9;
  }
  .order-xs-10
  {
      order: 10;
  }
  .order-xs-11
  {
      order: 11;
  }
  .order-xs-12
  {
      order: 12;
  }
}
