.section-hero {
  /* background-image: url(../img/backgrounds/background.gif); */
  background: black;
}
.text-primary {
    color: white !important;
}
.video {
    margin-top: 20px;
}
video {
    width: 100%;
    border: 4px solid white;
    border-radius: 2px;
}
a.globalFooterCard, div.globalFooterCard {
    padding-left: 120px;
}
.text-muted-2 {
    color: #798898;
}
